doctype html
head
  title woowa-market
#container.col
  h1 &#xBC30;&#xBBFC; &#xC0C1;&#xD68C; &#xB85C;&#xADF8;&#xC778;
  input(class='id-input' placeholder='아이디를 입력해주세요.')
  input(class='password-input' placeholder='비밀번호를 입력해주세요.')
button Login
script(type='module' src='./pages/LoginPage.js')
