doctype html
| PASTE YOUR HTML CODE HERE
head
  title Pug
  script(type='text/javascript').
  link(rel='stylesheet', href='stylesheets/css/common/style.css')
h1 Pug - node template engine
#container.col
  p You are amazing
  p Pug is a terse and simple templating language.
button.test hi
script(type='module' src='')
