/* font */
$font-main: 'Noto Sans KR';

/* colors */
// input normal border, placeholder
$color-gray-300: rgb(220, 220, 220);

// help text, button border
$color-gray-500: rgb(130, 130, 130);

// terms
$color-gray-600: rgb(100, 100, 100);

// outter border
$color-gray-700: rgb(70, 70, 70);

// plain text, title, etc black text
$color-gray-900: rgb(20, 20, 20);

$color-white: rgb(255, 255, 255);
$color-black: rgb(10, 10, 10);

$color-main: #1a7cff;
$color-error: rgb(242, 70, 74);
