/* font */
/* noto-sans-kr-regular - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
    url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../fonts/noto-sans-kr/noto-sans-kr-v12-latin-regular.svg#NotoSansKR')
      format('svg'); /* Legacy iOS */
}

$font-main: 'Noto Sans KR';

/* colors */
// input normal border, placeholder
$color-gray-300: rgb(220, 220, 220);

// help text, button border
$color-gray-500: rgb(130, 130, 130);

// terms
$color-gray-600: rgb(100, 100, 100);

// outter border
$color-gray-700: rgb(70, 70, 70);

// plain text, title, etc black text
$color-gray-900: rgb(20, 20, 20);

$color-main: rgb(22, 98, 254);
$color-error: rgb(242, 70, 74);
